# Stack uses this directory as scratch space.
/.stack-work/

dist/
dist-newstyle/

test/data/java
.DS_Store
*.el
test/data/*.class

.failures.txt
/.ghc.environment.x86_64-darwin-8.6.4
/result
/failures.txt
